form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}