<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuppliersChecker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bear.css" th:href="@{../css/bear.css}">
</head>
<body style="background-color: black;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
">
<hr style="color: white">
<div style="color: white;padding-top: 25%; padding-left: 5%;">
    <h1>Найдите лучшего контрагента за считанные минуты</h1>
    <h2>Рейтинг поставщиков - идеальный партнер для Вашего бизнеса</h2>
</div>
<div style="padding-top: 3%; padding-left: 5%">
    <a th:href="@{/request}" class="btn btn-primary" style="background-color: black;
                                                border-color: white;
                                                color: white;
                                                border-radius: 5px;
                                                padding-inline: 30px;
                                                padding-top: 10px;
                                                padding-bottom: 10px;
                                                font-family: 'Apple Symbols', sans-serif;
                                                font-size: 25px">Искать</a>
</div>
<div class="container" style="margin-top: -10%; margin-left: 50%">
    <div class="bear">
        <div class="bear__ears">
            <div class="bear__ears__left ear"></div>
            <div class="bear__ears__right ear"></div>
        </div>
        <div class="bear__body">
            <div class="bear__eyes">
                <div class="bear__eyes--left eye"></div>
                <div class="bear__eyes--right eye"></div>
            </div>
            <div class="bear__nose">
                <div class="bear__nose--inner"></div>
            </div>
        </div>
    </div>
    <div class="shadow"></div>
</div>
</body>
</html>