<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuppliersChecker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bear.css">
</head>
<body style="background-color: black;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
">
<hr style="color: white">
<div style="color: white;padding-top: 25%; padding-left: 5%; margin-bottom: -10%">
    <h1>Найдите лучшего контрагента за считанные минуты</h1>
    <h2>Рейтинг поставщиков - идеальный партнер для Вашего бизнеса</h2>
</div>
<div>
    <input type="button" value="Искать" style="background-color: black;
                                                border-color: white;
                                                color: white;
                                                border-radius: 5px;
                                                padding-inline: 30px;
                                                padding-top: 10px;
                                                padding-bottom: 10px;
                                                font-family: 'Apple Symbols', sans-serif;
                                                font-size: 25px"/>
</div>
<div class="container">
    <div class="bear">
        <div class="bear__ears">
            <div class="bear__ears__left ear"></div>
            <div class="bear__ears__right ear"></div>
        </div>
        <div class="bear__body">
            <div class="bear__eyes">
                <div class="bear__eyes--left eye"></div>
                <div class="bear__eyes--right eye"></div>
            </div>
            <div class="bear__nose">
                <div class="bear__nose--inner"></div>
            </div>
        </div>
    </div>
    <div class="shadow"></div>
</div>
</body>
</html>
<!--<form th:action="@{/check}" th:object="${String}" method="post">-->
<!--    <label for="inputField">Your request</label>-->
<!--    <input type="text" id="inputField" name="Your request" th:required="required"/>-->

<!--    <label for="textArea">Suppliers to check:</label>-->
<!--    <textarea id="textArea" name="Suppliers to check" th:required="required"></textarea>-->

<!--    <input type="submit" value="Submit"/>-->
<!--</form>-->